<h6>Standard alerts</h6>

{% capture alerts--info %}
  {% patternlab_component alerts--info %}
{% endcapture %}{{ alerts--info | strip }}

{% capture alerts--warning %}
  {% patternlab_component alerts--warning %}
{% endcapture %}{{ alerts--warning | strip }}

{% capture alerts--error %}
  {% patternlab_component alerts--error %}
{% endcapture %}{{ alerts--error | strip }}

{% capture alerts--success %}
  {% patternlab_component alerts--success %}
{% endcapture %}{{ alerts--success | strip }}

<h6>Slim alert</h6>

{% capture alerts--slim %}
  {% patternlab_component alerts--slim %}
{% endcapture %}{{ alerts--slim | strip }}

<h6>Alert with no icon</h6>

{% capture alerts--no-icon %}
  {% patternlab_component alerts--no-icon %}
{% endcapture %}{{ alerts--no-icon | strip }}
