<h6>Standard alerts</h6>

{% capture alerts--info %}
  {% patternlab_component usa-alert-usa-alert-info %}
{% endcapture %}{{ alerts--info | strip }}

{% capture alerts--warning %}
  {% patternlab_component usa-alert-usa-alert-warning %}
{% endcapture %}{{ alerts--warning | strip }}

{% capture alerts--error %}
  {% patternlab_component usa-alert-usa-alert-error %}
{% endcapture %}{{ alerts--error | strip }}

{% capture alerts--success %}
  {% patternlab_component usa-alert-usa-alert-success %}
{% endcapture %}{{ alerts--success | strip }}

<h6>Slim alert</h6>

{% capture alerts--slim %}
  {% patternlab_component usa-alert-usa-alert-slim %}
{% endcapture %}{{ alerts--slim | strip }}

<h6>Alert with no icon</h6>

{% capture alerts--no-icon %}
  {% patternlab_component usa-alert-usa-alert-no-icon %}
{% endcapture %}{{ alerts--no-icon | strip }}
