<h6>Default breadcrumb</h6>
{% capture breadcrumb %}
  {% patternlab_component usa-breadcrumb-usa-breadcrumb %}
{% endcapture %}{{ breadcrumb|strip }}

<h6>Breadcrumb with RDFa metadata</h6>
{% capture breadcrumb--metadata %}
  {% patternlab_component usa-breadcrumb-_usa-breadcrumb--metadata %}
{% endcapture %}{{ breadcrumb--metadata|strip }}

<h6>Wrapping breadcrumb</h6>
{% capture breadcrumb--wrap %}
  {% patternlab_component usa-breadcrumb-usa-breadcrumb-wrap %}
{% endcapture %}{{ breadcrumb--wrap|strip }}
