<h3 id="standard-buttons" class="site-preview-heading">Standard buttons</h3>
<h4 class="font-body-2xs text-base text-uppercase text-400 margin-bottom-05">Default</h4>
{% capture default_buttons %}
  {% fractal_component buttons %}
{% endcapture %}{{ default_buttons | strip }}

<h4 class="font-body-2xs text-base text-uppercase text-400 margin-bottom-05">Secondary color</h4>
{% capture secondary_buttons %}
  {% fractal_component buttons--secondary %}
{% endcapture %}{{ secondary_buttons | strip }}

<h4 class="font-body-2xs text-base text-uppercase text-400 margin-bottom-05">Accent cool color</h4>
{% capture accent_cool_buttons %}
  {% fractal_component buttons--accent-cool %}
{% endcapture %}{{ accent_cool_buttons | strip }}

<h4 class="font-body-2xs text-base text-uppercase text-400 margin-bottom-05">Accent warm color</h4>
{% capture accent_warm_buttons %}
  {% fractal_component buttons--accent-warm %}
{% endcapture %}{{ accent_warm_buttons | strip }}

<h4 class="font-body-2xs text-base text-uppercase text-400 margin-bottom-05">Info</h4>
{% capture info_buttons %}
  {% fractal_component buttons--info %}
{% endcapture %}{{ info_buttons | strip }}

<h4 class="font-body-2xs text-base text-uppercase text-400 margin-bottom-05">Error</h4>
{% capture error_buttons %}
  {% fractal_component buttons--error %}
{% endcapture %}{{ error_buttons | strip }}

<h4 class="font-body-2xs text-base text-uppercase text-400 margin-bottom-05">Warning</h4>
{% capture warning_buttons %}
  {% fractal_component buttons--warning %}
{% endcapture %}{{ warning_buttons | strip }}

<h4 class="font-body-2xs text-base text-uppercase text-400 margin-bottom-05">Success</h4>
{% capture success_buttons %}
  {% fractal_component buttons--success %}
{% endcapture %}{{ success_buttons | strip }}

<h4 class="font-body-2xs text-base text-uppercase text-400 margin-bottom-05">Base color</h4>
{% capture base_buttons %}
  {% fractal_component buttons--base %}
{% endcapture %}{{ base_buttons | strip }}

<h3 id="outline-buttons" class="site-preview-heading margin-top-10">Outline buttons</h3>
<h4 class="font-body-2xs text-base text-uppercase text-400 margin-bottom-05">Outline</h4>
{% capture outline_buttons %}
  {% fractal_component buttons--outline %}
{% endcapture %}{{ outline_buttons | strip }}

<h4 class="font-body-2xs text-base text-uppercase text-400 margin-bottom-05">Outline inverse</h4>
{% capture outline_inverse_buttons %}
  {% fractal_component buttons--outline-inverse %}
{% endcapture %}{{ outline_inverse_buttons | strip }}

<h4 class="font-body-2xs text-base text-uppercase text-400 margin-bottom-05">Outline Secondary color </h4>
{% capture secondary_buttons %}
  {% fractal_component buttons--secondary-outline %}
{% endcapture %}{{ secondary_buttons | strip }}

<h4 class="font-body-2xs text-base text-uppercase text-400 margin-bottom-05">Outline Accent cool color </h4>
{% capture accent_cool_buttons %}
  {% fractal_component buttons--accent-cool-outline %}
{% endcapture %}{{ accent_cool_buttons | strip }}

<h4 class="font-body-2xs text-base text-uppercase text-400 margin-bottom-05">Outline Accent warm color </h4>
{% capture accent_warm_buttons %}
  {% fractal_component buttons--accent-warm-outline %}
{% endcapture %}{{ accent_warm_buttons | strip }}

<h4 class="font-body-2xs text-base text-uppercase text-400 margin-bottom-05">Outline Info </h4>
{% capture info_buttons %}
  {% fractal_component buttons--info-outline %}
{% endcapture %}{{ info_buttons | strip }}

<h4 class="font-body-2xs text-base text-uppercase text-400 margin-bottom-05">Outline Error </h4>
{% capture error_buttons %}
  {% fractal_component buttons--error-outline %}
{% endcapture %}{{ error_buttons | strip }}

<h4 class="font-body-2xs text-base text-uppercase text-400 margin-bottom-05">Outline Warning </h4>
{% capture warning_buttons %}
  {% fractal_component buttons--warning-outline %}
{% endcapture %}{{ warning_buttons | strip }}

<h4 class="font-body-2xs text-base text-uppercase text-400 margin-bottom-05">Outline Success </h4>
{% capture success_buttons %}
  {% fractal_component buttons--success-outline %}
{% endcapture %}{{ success_buttons | strip }}

<h3 id="big-buttons" class="site-preview-heading margin-top-10">Big buttons</h3>
<h4 class="font-body-2xs text-base text-uppercase text-400 margin-bottom-05">Default big button</h4>
{% capture big_buttons %}
  {% fractal_component buttons--big %}
{% endcapture %}{{ big_buttons | strip }}
